<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testcaseui">
<!--    <test   name="register">-->
<!--        <classes>-->
<!--            <class name="com.ym.webui.cases.RegisterCase">-->

<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test   name="login">
        <classes>
            <class name="com.ym.webui.cases.LoginCase">
            </class>
        </classes>
    </test>
    <parameter name="browserType" value="chrome"></parameter>
    <parameter name="apacheDocumentRooot" value="/Users/arronhuang/.jenkins/workspace/testcaseui/target/surefire-reports"></parameter>
    <parameter name="host" value="http://127.0.0.1"></parameter>

    <listeners>
        <!--实现一个监听器,监听用例执行情况,用来判断是否需要截图-->
       <listener class-name="com.ym.webui.report.CustomListener"></listener>
        <!--报表生成类-->
      <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
  </listeners>
</suite>